.flex-container{
    background-color: rgb(68, 68, 248);
    display: flex;
}

.flex-container > div {
    margin: 25px;
    color: white;
  }

.flex{
    display: flex;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
h2 {
    font-family: serif;
    font-size: 25px;
}


h1{
    text-align: center;
    font-family: cursive;
}

.flex > img{
    width: 20%;
}
@media screen and (max-width: 600px) {
    h2,p{
        font-size: unset;
    }
    .flex-container{
        display: block;
    }

    #andela-logo{
        width: 100%;
    }
    .flex{
        display: block;
    }
    .flex > img{
        width: 100%;
    }

    .row{
        display: block;
    }
}
