/* Create three equal columns that floats next to each other */
img{
    width: 100%;
}

.bio-font{
    font-family: -apple-system;
}
.column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
}
.column1 {
    width: 13.33%;
}
.column2 {
    width: 63.33%;
}

.column3 {
    width: 23.33%;
}

/* Clear floats after the columns */
.row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
}

.div-center{
    margin: 0px auto;
}

.fa {
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
  color: darkblue;
}

.btn-replies{
    background-color: #f8f8f9;
    color: black;
    width: 100%;
    text-align: left;
}
.btn-profile{
    border-radius: 20px;
    width: 100%;
}

.btn-replies :hover{
    background-color: blue;
}

.topnav-prof{
    width: 100%;
}

#btn-qn{
    width: 50%;
    text-align: center;
    float: unset;
    border-radius: 20px;
}

.margin-qn{
    margin-right: 5px;
}
body{
    width: unset;
    height: unset;
}

@media screen and (max-width: 600px) {
    p{
        font-size: 20%vw;
    }

    .fa {
        font-size: 10px;
        cursor: pointer;
        user-select: none;
    }

    textarea{
        height: 100%;
    }
    .column {
        box-sizing: border-box;
        float: unset;
        padding: 5px;
    }
    .column1, .column2, .column3{
        width: unset;
    }
    #replies, #qn{
        width: 100%;
    }
    #btn-qn{
        width: 100%;
        text-align: center;
        float: unset;
        border-radius: 20px;
    }
    .topnav input[type=text]{
        width: 50%;
        text-align: center;
        font-size: 16px;
        margin: unset ;
        padding: 5px;
        margin-top: 5px;
        margin-left: 20px;
    }
    #nav{
        width:47%;
    }
    
}
